{% extends 'doramas/base.html' %}
 
{% block content %}

    {% for p in posts %}
        <article>
                <header>
                    {% if p.photo %}
                        <img src="{{p.photo.url}}" alt="Картинка">
                    {% endif %}
                    <p class="first">Категория: {{p.cat}}</p>
                </header>

                <h2>{{p.title}}</h2>
                <p>{{p.content|linebreaks|truncatewords:50}}</p>
                <a href="{{ p.get_absolute_url }}">Подробнее</a>
        </article>
    {% endfor %}

{% endblock %}


